<div class="container">
    
            <div class="row">
              <div class="col-lg-5 mr-auto order-lg-2">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Wagashi - 和菓子 <br> English/Japanese Dictionary</h2>
                <p class="lead">Born from the need to help Japanese students solidify vocab words, users are able to search words in both Japanese and English and produce cards with the word(in Kanji), the definition, and parts of speech. Saved vocab words can be used to play a memory game called: Shinkei Suijaku (神経衰弱), or Match Up using matching pair cards. Visit the github link to check out
                  <a target="_blank" href="https://github.com/Mminner4248/MidtermCapstone-Wagashi">Wagashi</a>!</p>
              </div>
              <div class="col-lg-5 ml-auto order-lg-1">
                <img class="img-fluid" src="img/WagashiLogo.png" alt="">
              </div>
            </div>
          </div>
          <div class="container">
                <div class="row">
                  <div class="col-lg-5 ml-auto">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Armafit - Crossfit Scheduler</h2>
                    <p class="lead">A Crossfit scheduling app that allows coaches to design and schedule WODs and users to sign up and save workouts. Users can search unfamiliar exercises and look up previous performance information. Visit the github link to checkout <a target="_blank" href="https://github.com/Mminner4248/Capstone_Armafit">Armafit</a>!</p>
                  </div>
                  <div class="col-lg-5 mr-auto">
                    <img class="img-fluid" src="img/ArmafitLogo.png" alt="">
                  </div>
                </div>
        
              </div>
          <!-- /.container -->